<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1> Proyecto</h1>
</head>
<body>
    <h2>
    La idea, del blog es crear un portal donde se, puedan intercambiar, ejercicios, comidas diarias y algunos consejos de relax,
    para bajar la ansiedad y el stress del dia a dia, podes crear un usuario y subir tus ejercicios, donde tambien linkeas, un
    video para que sea bien como se hace el ejercicio.
    En el apartado alimento, se crea con la idea de poder intercambiar, platos para hacer tu dia a dia un poco mas llevadero y
    ver las comidas de otros usuarios, y ver que se puede comer sano y rico sin caer en la monotonia.
    El ultimo apartado es para poder relajarte, basandose en la misma tematica que el de ejercicio pero destinado totalmente a la idea de subir 
    practicas o tecnicas, agreando un link de video y musica recomendada para la actividad.</h2>
</body>
<h1>Sobre mi</h1>
<body><h2>
    Soy Nicolas Zaffaroni, tengo 27 años estoy adentrandome en el mundo de la programacion,
    toda la vida me dedique al deporte, soy jugador de rugby profesional.
    el Proyecto lo hice solo, ya que al vivir en Europa, el uso horario
    hacia que se me complicara un poco coordinar tanto para ver las clases en vivo
    como para el trabajo, estoy sumamente entusiasmado por lo aprendido y 
    espero impaciente seguir aprendiendo y empezar a redireccionar mi vida
    laboral al mundo de la programacion.
</h2>
</body>

</html>