<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos de uso</title>
</head>
<body>
    <h1>
    El uso de nuestros servicios  implicará que usted ha leído y 
    aceptado los Términos y Condiciones de Uso en el presente documento. Todas los consejos,dietas y entrenamientos  que son ofrecidos por nuestro sitio web fueron
    creados, será necesario el registro por parte del interesad@, con ingreso de un nombre de usuario,un email  y definición de una contraseña.</h1>
</body>
</html>

<button>
    <a href="http://127.0.0.1:8000/">Acepto</a>
</button>